/*FUENTES*/
@font-face {
  font-family: "nevis";
  src: url("../fonts/nevis.eot");
  src: url("../fonts/nevis.eot?#iefix")
      format("embedded-openype"),
    url("../fonts/nevis.woff") format("woff"),
    url("../fonts/nevis.ttf") format("truetype"),
    url("../fonts/nevis.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fajala";
  src: url("../fonts/FjallaOne-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular")
      format("svg"),
    url("../fonts/websymbols-regular-webfont.eot");
  src: url("../fonts/websymbols-regular-webfont.eot?#iefix")
      format("embedded-openype"),
    url("../fonts/websymbols-regular-webfont.woff")
      format("woff"),
    url("../fonts/websymbols-regular-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*GENERALES*/

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../img/paven.png);
}

.clearfix{
    float: none;
    clear: both;
}
a {
  color: #529125;
  text-decoration: none;
}

a:visited {
  color: #4a792a;
}

a:hover {
  color: #255616;
  text-decoration: none;
}

.icon {
  font-family: "icons";
  float: left;
  margin-right: 5px;
  margin-top: -2px;
}

.orange {
  color: #d69d2a;
}
/*FORMULARIOS*/

input[type="text"],
input[type="email"],
input[type="password"],
select {
  border: 1px solid #c9c9c9;
  background-color: white;
  padding: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: gray;
  transition: all 300ms;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  border: 1px solid #70b321;
  /* outline porque algunos navegadores traen un contorno por defecto en los input's*/
  outline: none;
  color: black;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  display: block;
  border-radius: 2px;
  border: 1px solid green;
  width: 60px;
  padding: 3px;
  background-color: #70b321;
  color: white;
  cursor: pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  box-shadow: 0 0 2px gray;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active {
  outline: none;
  box-shadow: 0 0 3px gray inset;
  text-shadow: 00 0 1px #cccccc;
}

/*CABECERA*/

#header {
  min-width: 1024px;
  width: 100%;
  height: 250px;
  margin: 0 auto;
}

#header a {
  text-decoration: none;
}

#header #logotipo {
  width: 770px;
  margin: 0 auto;
  padding-top: 20px;
}

#header #logotipo img {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 140px;
}

#header h1 {
  text-align: center;
  font-size: 40px;
  color: #70b321;
  font-family: "nevis";
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 10px;
  text-shadow: 0 2px 1px #333333;
  transition: all 300ms;
}

#header h1:hover {
  text-shadow: 0 2px 1px #333333, 0 0 4px #70b321;
}

#header h1 a {
  color: #70b321;
}

/*BARRA DE NAVEGACION*/

#nav {
  width: 100%;
  height: 40px;
  background-color: #333333;
  color: white;
  font-family: sans-serif, helvetica, Arial, Helvetica, sans-serif;
  font-size: 14px;
  box-shadow: 0 0 2px gray;
}

#nav ul {
  list-style: none;
  text-decoration: none;
  margin: 0 auto;
  width: 1090px;
}

#nav > ul > li {
  line-height: 40px;
  float: left;
  border-right: 1px solid gray;
  transition: all 300ms;
}

#nav > ul > li a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-decoration: none;
}

#nav > ul > li a:first-child {
  border-left: 1px solid gray;
}

#nav > ul > li:hover {
  background-color: #70b321;
  box-shadow: 0 0 4px green inset;
}

/*MENU DESPLEGABLE*/

#nav > ul > li > ul {
  display: none;
  position: absolute;
  color: white;
  text-align: center;
  width: 160px;
  box-shadow: 0 2px 2px gray;
  z-index: 1;
}

#nav > ul > li:hover > ul {
  display: block;
}

#nav > ul > li:hover > ul > li {
  background-color: #f2f1f0;
  border-bottom: 1px solid #d6d6d6;
  padding: 8px;
  line-height: 25px;
  font-size: 13px;
  transition: all 300ms;
}
#nav > ul > li:hover > ul > li a {
  color: #666666;
}

#nav > ul > li:hover > ul > li:hover {
  box-shadow: 0 0 6px #cccccc inset;
  background-color: rgb(238, 237, 237);
}

/*CONTENIDO*/

#content {
  width: 1250px;
  min-height: 1100px;
  margin: 0 auto;
}

/*BARRA LATERLA*/

#aside,
#frase {
  width: 200px;
  float: left;
  margin: 30px;
  background-color: white;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 2px #cccccc;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}

#frase {
  width: 180px;
  padding: 10px;
  font-size: 14px;
  font-family: sans-serif;
}

#aside .widget {
  display: block;
  width: 180px;
  margin: 5px auto;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  border-bottom: 1px dashed #333333;
}

#aside .widget:last-child {
  margin-bottom: 20px;
}

#aside h3 {
  display: block;
  width: 100%;
  color: #333333;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 15px;
  background-color: #f2f3f2;
  border: 1px solid #cccccc;
  border-left: none;
  border-right: none;
}

#aside li {
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 20px;
  list-style: square;
}

/*FORMULARIOS BARRA LATERAL*/

#aside article label,
#aside article input[type="text"],
#aside article input[type="email"],
#aside article input[type="password"],
#aside article a {
  display: block;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 2px;
}

#aside input,
#aside label {
  margin: 0 auto;
  text-align: center;
}

#aside article .sala1 {
  /*blue*/
  color: #0c73f2;
}

#aside article .sala2,
#backend h2 {
  /*red*/
  color: #9b2422;
}

/* SECCIONES */

#sections {
  float: right;
  width: 75%;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  margin-right: 20px;
}

#sections .tittle {
  margin-bottom: 25px;
  margin-top: -20px;
  font-size: 24px;
  font-weight: normal;
  font-family: "fajala";
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

#sections section {
  margin-top: 40px;
  background-color: white;
  padding: 20px;
  border: 1px solid #cccccc;
  box-shadow: 0 0 4px #c9c9c9;
  color: #333333;
  font-size: 16px;
  overflow: hidden;
}

#sections .article {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#sections .date {
  color: gray;
  font-size: 14px;
}

#sections .sticker1,
#sections .sticker2 {
  position: absolute;
  margin-top: -38px;
  z-index: 0;
}

#sections .sticker2 {
  margin-left: 850px;
}

#history{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

/*FOOTER*/

#footer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    background-color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0 0 2px gray;
}